import React, { forwardRef } from 'react'
import { cx } from '@vtex/shoreline-utils'

import { {{camelCase name}}Style } from './{{kebabCase name}}.css'

export const {{pascalCase name}} = forwardRef<HTMLDivElement, {{pascalCase name}}Props>(function {{pascalCase name}}(
  props, 
  ref
) {
  const { className } = props

  return (
    <div ref={ref} className={cx({{camelCase name}}Style, className)}>
      {{pascalCase name}}
    </div>
  )
})

export interface {{pascalCase name}}Props {
  className?: string
}