import React, { forwardRef } from 'react'

export const {{pascalCase name}} = forwardRef<HTMLDivElement, {{pascalCase name}}Props>(function {{pascalCase name}}(
  props, 
  ref
) {
  const { ...otherProps } = props

  return (
    <div data-sl-{{kebabCase name}} ref={ref} {...otherProps}>
      {{pascalCase name}}
    </div>
  )
})

export interface {{pascalCase name}}Props {
  className?: string
}